@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

// base
@import 'styles/reset';
@import 'styles/variables';
@import 'styles/containers';

@layer base {
  body {
    @apply font-ibarra bg-background;
  }

  .training-wheels {
    border: black 1px solid;
    background: rgba(200, 200, 200, 0.2);
  }

	.navbar {
		height: $headerHeight;
	}

	.page-content {
		min-height: calc(100vh - $headerHeight);
		@apply max-w-screen-xl mx-auto;
	}

	.btn {
		@apply border rounded-sm p-4 bg-primary text-white shadow-2xl;
	}
}
